<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="system.web">
			<section name="fileStorage" type="Memba.FileUpload.Providers.FileStorageConfigurationSection, Memba.FileUpload.XP, Version=1.1.0.0, Culture=neutral, PublicKeyToken=a4ae091aa8097a5a" />
		</sectionGroup>
	</configSections>
	<system.web>
		<fileStorage defaultProvider="FSFileStorageProvider">
			<providers>
				<add name="FSFileStorageProvider" type="Memba.FileUpload.Providers.FSFileStorageProvider, Memba.FileUpload.XP, Version=1.1.0.0, Culture=neutral, PublicKeyToken=a4ae091aa8097a5a" connectionString="C:\STORAGE" />
			</providers>
		</fileStorage>
	</system.web>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network" from="website@velodoc.net">
				<!--network host="localhost" port="25" defaultCredentials="true" /-->
				<network host="10.0.0.12" port="25" userName="sv-rndev-01\servermailbox" password="Server!Password"/>
			</smtp>
		</mailSettings>
	</system.net>
</configuration>